.github/**
.vscode/**
.vscode-clean/**
.yarn/**
dist/webviews/*.css
emoji/**
images/docs/**
images/originals/**
node_modules/**
scripts/**
src/**
test/**
**/*.fig
**/*.pdn
.eslintcache
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc
.yarnrc
tsconfig.eslint.json
tsconfig.json
tsconfig.webviews.json
tsconfig.tsbuildinfo
webpack.config.js
yarn.lock
